*{
    padding: 0;
    margin: 0;
}
body{
   background-image: url("single.jpg");
   background-position:center;
   background-repeat: no-repeat;
   background-size:cover ;
   height:100vh;
}
h1{
  color:red
}
h2{
    color:yellow;
    font-size: 50px;
    transform: translate(200px,200px);
}